@import "tailwindcss";

@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/rubik-v31-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/rubik-v31-latin-regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-Rubik: 'Rubik', sans-serif;
}